.wrapper.body
  
  - if @announcements.empty?
    %p.empty-results No Public Announcements Found

  - @announcements.each do |announcement|
    .announcement.clearfix
      .details
        %header 
          - profpic = "0"
          -if announcement.user.user_info.photo_id
            - profpic = announcement.user.user_info.photo_id
          %span.profile-picture{:style => "background-image: url('#{serve_photo_path profpic}')"}
          %h2= announcement.title
          %h3= announcement.user.user_info.firstname + " " + announcement.user.user_info.lastname
          %time= announcement.created_at.strftime("%B %d, %Y")

        .content
          %p=announcement.content