.wrapper.body
  - 10.times do
    .announcement.clearfix
      .details
        %header 
          - profpic = "0"
          %span.profile-picture{:style => "background-image: url('#{serve_photo_path profpic}')"}
          %h2 Sample Announcement
          %h3 Arnelle Balane
          %time October 25, 2013

        .content
          %p Lorem ipsum Laboris aliquip occaecat aliquip labore dolor proident ad dolore eu proident elit veniam Ut pariatur eu dolor dolore aliquip esse Ut est elit sed sunt Duis dolor id nulla tempor ad ut voluptate dolore ex enim do irure tempor ut eiusmod elit dolore proident et Duis velit in ullamco pariatur cupidatat minim exercitation ut elit dolore dolore id mollit dolor dolor exercitation amet consectetur ullamco anim minim mollit nulla cillum nisi velit et anim qui Ut dolor fugiat in Excepteur magna nisi mollit in reprehenderit ut exercitation adipisicing culpa exercitation fugiat proident et ullamco aliquip consectetur irure aute esse officia ut incididunt dolore Duis fugiat officia culpa adipisicing sunt nostrud dolore fugiat dolor ex ad elit ex enim anim sed ea officia nisi dolore enim consequat dolore reprehenderit proident nostrud incididunt tempor consequat minim aliqua do cupidatat cillum anim dolore aliquip et esse dolore nostrud do laborum aliqua qui et in proident quis nostrud pariatur dolore nulla ex magna cillum Excepteur laboris nulla labore Duis enim ea magna magna et nulla ut cillum sit labore in in Duis eiusmod.