%aside.sidebar.float-left
  %section#user-profile     
    %span.profile-picture{:style => "background-image: url('#{path_to_photo @profpic}')"}    
    %div 
      %h4= @user_info.firstname + " " + @user_info.lastname
      %p= @user_info.course

  %h3 This Month's Accountabilities
  %section 
    %p You don't have any accountabilities for this month.

  %h3 My Devices
  %section 
    %p You don't have any devices