%aside.sidebar.float-left
  %section#user-profile 
    %span.profile-picture{:style => "background-image: url('#{image_path "profile-picture.jpg"}')"}
    %div 
      %h4 Arnelle Balane
      %p BS Computer Science

  %h3 This Month's Accountabilities
  %section 
    %p You don't have any accountabilities for this month.

  %h3 My Devices
  %section 
    %p You don't have any devices