%aside.sidebar.float-right 
  %h3 This Week's Events
  %section
    %p There are no events for this week.

    - 2.times do
      .event.events
        %time Thu
        %p Lorem Ipsum Dolor Sit Amet

    - 2.times do
      .event.holidays
        %time Thu
        %p Lorem Ipsum Dolor Sit Amet

    - 2.times do
      .event.birthdays
        %time Thu
        %p Lorem Ipsum Dolor Sit Amet