#user-bio
  %nav.clearfix 
    %p.title Information
    %ul.clearfix 
      %li= link_to "Personal", "#", "data-tab" => "personal", :class => "current"
      %li= link_to "Academic", "#", "data-tab" => "academic"
      %li= link_to "Contact", "#", "data-tab" => "contact"

  .content
    %section{"data-tab" => "personal"}
      %div 
        %label Nickname
        %span=@user_info.nickname
      %div 
        %label Birthday
        %span=@user_info.birthday
      %div 
        %label Home Address
        %span=@user_info.address
      %div 
        %label Father's Name
        %span=@user_info.fathername
      %div 
        %label Mother's Name
        %span=@user_info.mothername

    %section{"data-tab" => "academic"} 
      %div 
        %label Elementary
        %span=@user_info.elementary
      %div 
        %label Secondary
        %span=@user_info.secondary
      %div 
        %label College
        %span=@user_info.college
      %div 
        %label STFAP Bracket
        %span=@user_info.bracket
      %div 
        %label Student Number
        %span=@user_info.student_number
      %div 
        %label Degree Program
        %span=@user_info.course
      %div 
        %label Year Level
        %span=@user_info.year

    %section{"data-tab" => "contact"}
      %div 
        %label Email Address
        %span=@user.email
      %div 
        %label Mobile Number
        %span=@user_info.contact_number
      %p Person to contact in case of emercency:
      %div 
        %label Name
        %span=@user_info.guardianname
      %div 
        %label Address
        %span=@user_info.guardianaddress
      %div 
        %label Mobile Number
        %span=@user_info.guardiancontact_number