@import "compass"

.sidebar
  width: 250px
  background-color: #3f4944
  border-bottom: 3px solid #333b37
  +box-sizing("borrder-box")

  h3
    font: normal 1.1rem "Open Sans"
    color: #ffffff
    text-transform: uppercase
    padding: 7px 15px
    margin: 0
    background-color: #57645e

  p
    font: normal 1.3rem "Open Sans"
    color: #97a08c
    letter-spacing: -1px
    margin: 0

  section
    padding: 15px
    margin: 0