.wrapper.body.clearfix
  = render :partial => "account/partials/sidebar_left"

  .photo-gallery
    - @photos.each do |photo|
      .photo{:style => "background-image: url('#{serve_photo_path photo.id}')", "data-owner" => photo.user_id, "data-id" => photo.id}

#popup-modal
  #popup-overlay
  #popup.clearfix
    #preview-section{:style => "background-image: url('')"}
    #info-section
      %header 
        .close
        %span.profile-picture
        = link_to "Arnelle Balane", "#"

      %p Lorem ipsum Laboris laborum ullamco eu ut fugiat nisi ut ut sit eu ea id veniam enim anim veniam tempor Excepteur dolor irure enim.

      %footer 
        %time October 25, 2013