@import "compass"

body.account
  .body
    margin-top: 25px

  #main-content
    float: left
    width: 514px
    +box-sizing("border-box")

  #user-bio 
    .title
      +float-left
      margin: 0 20px 0 0

    nav
      padding: 10px 25px

      ul
        display: inline-block
        list-style: none
        margin: 0
        padding: 0

      li
        +float-left
        margin-right: 20px

      a
        display: block
        font: normal 1.2rem/1 "Open Sans", "OpenSansRegular"
        color: #626f68
        text-transform: uppercase
        letter-spacing: -1px
        position: relative
        &:hover, &:focus, &.current
          color: #c68144 !important
        &.current:after
          content: ""
          position: absolute
          left: 50%
          bottom: -13px
          margin-left: -8px
          border-bottom: 8px solid #ffffff
          border-left: 8px solid transparent
          border-right: 8px solid transparent

    .content
      background-color: #ffffff
      box-shadow: 0 1px 0 #e4e1d8

    section
      display: none
      padding: 25px

      p
        font: normal 1.3rem/1 "Open Sans", "OpenSansRegular"
        color: #c68144
        margin: 20px 0 5px 0

      div
        margin-top: 7px
        &:first-of-type
          margin: 0

      label
        vertical-align: top
        font: normal 1.3rem/1 "Open Sans", "OpenSansRegular"
        width: 150px

      span
        display: inline-block
        font: normal 1.3rem/1 "Open Sans", "OpenSansRegular"
        color: #333333
        max-width: 305px

body.account.settings
  #main-content
    background-color: #ffffff

    section
      padding: 45px 45px 0 45px

      #profile-picture
        .profile-picture
          width: 120px
          height: 120px
          border: 1px solid #bfbaae
          margin: 0 0 -3px 0
          padding: 2px
          background: center center no-repeat
          background-size: cover
          background-clip: content-box
          position: relative
          overflow: hidden

          input[type="file"]
            position: absolute
            top: -100px

          div
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: 0
            padding: 2px
            background: #ffffff center center no-repeat
            background-size: cover
            background-clip: content-box

        span
          display: inline-block
          vertical-align: top
          font: normal 1.1rem "Open Sans", "OpenSansRegular"
          text-transform: uppercase
          margin-left: 1px

      h3
        margin-top: 0

      p
        font: normal 1.3rem "Open Sans", "OpenSansRegular"
        color: #c68144
        margin: 15px 0 5px 0

      div
        margin-bottom: 3px

      label
        width: 150px
        font: normal 1.3rem/1 "Open Sans", "OpenSansRegular"
        vertical-align: top
        margin-top: 10px

      input
        &[type="text"], &[type="email"], &[type="password"]
          width: 250px
          font-size: 1.3rem

      select
        margin-right: 1px
        padding: 4px
        font-size: 1.3rem
        &#bracket, &#year
          width: 50px
        &#birthday_month
          width: 150px

    footer
      margin-top: 45px
      background-color: #f6f5ed
      padding: 3px 45px
      text-align: center
      border-top: 1px solid #e4e1d8
      border-bottom: 1px solid #e4e1d8