@import "compass"

body.announcements
  .body
    margin-top: 25px

  #main-content
    float: left
    width: 514px
    +box-sizing("border-box")

    h6
      font: normal 1.3rem/1 "Open Sans", "OpenSansRegular"
      color: #514721
      border: 1px solid #ffd324
      background-color: #fff6bf
      margin: 0 0 10px 0
      padding: 10px

      a
        font-size: 1.3rem

    .post-fields
      display: block !important