@import "compass"

@mixin transform($transformation)
  -webkit-transform: $transformation
  -ms-transform: $transformation
  -o-transform: $transformation
  -ms-transform: $transformation
  transform: $transformation