= form_for :user, :url => sessions_path, :html => {:id => "user-session"} do |f|
  = f.email_field :email, :placeholder => "email address", :autocomplete => "off", :spellcheck => false
  = f.password_field :password, :placeholder => "password"
  = f.submit "Sign In", :class => "button"